:root {
  --red: #d9534f;
  --dark-red: #c9302c;
}

* {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

@media (max-width: 768px) {
  h1.home-view,
  h2.home-view {
    display: flex;
    justify-content: center;
  }
}

a,
a:hover {
  outline: none;
  color: var(--dark-red);
}

a:focus {
  text-decoration: underline;
}

a.navbar-brand:hover,
a.navbar-brand:focus {
  text-decoration: underline var(--dark-red);
}

button,
.to-feed {
  transition: all 0.3s ease !important;
}

button:hover,
button:focus {
  transform: scale(0.9);
}

.to-feed {
  display: inline-block;
  background-color: var(--red);
  color: #fff;
  padding: 1em 1.5em;
  text-decoration: none;
}

.to-feed:hover,
.to-feed:focus {
  background-color: var(--dark-red);
  color: #fff;
  text-decoration: none;
  transform: scale(0.9);
}

.bookmark-btn {
  border: none;
  background-color: inherit;
}

.bookmark-btn:hover,
.bookmark-btn:focus {
  outline: 1px solid var(--dark-red);
}

/* overriding some bootstrap
  and improving keyboard focus */

.navbar-nav a:hover,
.navbar-nav a:focus {
  color: var(--dark-red) !important;
  text-decoration: underline #000 !important;
}

.card a:focus {
  outline: 2px solid;
}

.rating span {
  margin: 0.1rem;
}

.btn,
.card,
.alert {
  border-radius: 0px;
}

.alert {
  opacity: 0.8;
}

.dropdown-item {
  color: #000;
  background-color: #fff;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item.active,
.dropdown-item:active {
  color: var(--red);
  text-decoration: none;
  background-color: #fff !important;
}
